/* * {
    border: 1px solid red;
} */

.rest__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-black);

    padding: 1rem 2rem;
}

.rest__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rest__navbar-logo img {
    width: 150px;
}

.rest__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rest__navbar-links_container {
    display: flex;
    flex-direction: row;
    margin: 0 1rem;
    cursor: pointer;
}

.rest__navbar-links_container p:hover {
    color: var(--color-grey);
}

.rest__navbar-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.rest__navbar-login p {
    margin: 0 1rem;
    text-decoration: none;
    transition: .5s ease;
}

.rest__navbar-login p:hover {
    border-bottom: 1px solid var(--color-golden);
}

.rest__navbar-login div {
    width: 1px;
    height: 30px;
    background: var(--color-grey);
}

.rest__navbar-links_container p,
.rest__navbar-login p,
.rest__navbar-sidebar_overlay p {
    color: #fff;
    font-family: var(--font-alt);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;

    margin: 0 1rem;
    cursor: pointer;
}

.rest__navbar-sidebar {
    display: none;
}

.rest__navbar-sidebar svg {
    cursor: pointer;
}

.rest__navbar-sidebar_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-black);
    transition: .5s ease;

    flex-direction: column;
    z-index: 5;
}

.rest__navbar-sidebar_overlay .overlay__close {
    font-size: 27px;
    color: var(--color-golden);
    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 20px;
}

.rest__navbar-sidebar_links p {
    margin: 2rem;
    cursor: pointer;
    color: var(--color-golden);
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-base);
}

.rest__navbar-sidebar_links p:hover {
    color: var(--color-white);
}


@media screen and (min-width: 2000px) {
    .rest__navbar-logo img {
        width: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .rest__navbar-links {
        display: none;
    }

    .rest__navbar-sidebar {
        display: flex;
    }
}

@media screen and (max-width: 650px) {
    .rest__navbar {
        padding: 1rem;
    }

    .rest__navbar-login {
        display: none;
    }

    .rest__navbar-logo img {
        width: 110px;
    }
}