/* * {
    border: 1px solid red;
} */

.rest__newsLetter {
    padding: 2rem 4rem;
    border: 1px solid var(--color-gray);
    background: var(--color-black);
}

.rest__newsLetter-content {
    text-align: center;
}

.rest__newsLetter-content h1 {
    font-family: var(--font-base);
    font-size: 64px;
    font-weight: 600;
    line-height: 83px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-golden);
    margin-bottom: 2rem;
}

.rest__newsLetter-content p {
    font-family: var(--font-alt);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: center;

    color: var(--color-white);
}

.rest__newsLetter-content_input {
    flex-direction: row;
    margin-top: 3rem;
}

.rest__newsLetter-content_input input {
    width: 620px;
    border: 1px solid var(--color-white);
    border-radius: 5px;
    font-size: 1rem;
    font-family: var(--font-base);
    color: var(--color-white);

    margin-right: 2rem;
    padding: 0.75rem 1rem;
    background: var(--color-black);
}

.rest__newsLetter-content_input button {
    width: max-content;
}

@media screen and (min-width: 2000px) {
    .rest__newsLetter-content_input input {
        font-size: 2rem;
    }
}

@media screen and (max-width: 990px) {
    .rest__newsLetter-content_input {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .rest__newsLetter-content_input input {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .rest__newsLetter {
        padding: 2rem 0;
        border: none;
    }

    .rest__newsLetter-content_input {
        text-align: center;
    }
}

@media screen and (max-width: 300px) {
    .rest__newsLetter-content h1 {
        font-size: 32px;
        line-height: 50px;
    }

    .rest__newsLetter-content_input {
        text-align: center;
    }
}