* {
    border: 1px solid red;
}

.rest__aboutus {
    position: relative;
}

.rest__aboutus-overlay {
    position: absolute;
    inset: 0;
    display: none;
}

.rest__aboutus-overlay img {
    width: 391px;
    height: 415px;
    z-index: 0;
}

.rest__aboutus-content {
    width: 100%;
    z-index: 2;
}

.rest__aboutus-content_about,
.rest__aboutus-content_history {
    width: 100%;
}

.rest__aboutus-content_about p,
.rest__aboutus-content_history p {
    font-family: var(--font-alt);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: var(--color-grey);
    margin-top: 1rem;
}

.rest__aboutus-content_about,
.rest__aboutus-content_about p {
    text-align: right;
}

.rest__aboutus-content_history p {
    text-align: left;
}

.rest__aboutus-content_about img {
    rotate: 180deg;
}

.rest__aboutus-content-title {
    font-family: var(--font-base);
    font-size: 64px;
    font-weight: 600;
    line-height: 83px;
    letter-spacing: 0.03em;
    color: var(--color-golden);
}

.rest__aboutus-image img {
    width: 84px;
    height: 703px;
    top: 1277px;
    left: 1002px;
    angle: -90deg;
    margin: 2rem 4rem;
}

button.custom__button {
    margin-top: 2rem;
}

@media screen and (min-width: 2000px) {
    .rest__aboutus-image img {
        height: 1110px;
    }

    .rest__aboutus-content_about p,
    .rest__aboutus-content_history p {
        margin: 4rem 0;
    }
}

@media screen and (max-width: 900px) {
    .rest__aboutus-content {
        flex-direction: column;
    }

    .rest__aboutus-image {
        margin: 4rem 0;
    }
}

@media screen and (max-width: 650px) {
    .rest__aboutus-overlay img {
        width: 80%;
        height: 320px;
    }
}